.DS_Store
*/.DS_Store
.ipynb_checkpoints
__pycache__
pipelines/quant/*
pipelines/genome/*
pipelines/data/*
pipelines/__pycache__
pipelines/.ipynb_checkpoints
pipelines/tools/__pycache__
pipelines/tools/.ipynb_checkpoints
